@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsRutaModel
@{
    var ruta = Model.Ruta;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @ruta.id</li>
  <li class="list-group-item"> <b>Origen: </b> @ruta.origen.nombre - @ruta.origen.direccion</li>
  <li class="list-group-item"><b>Tipo Estacion Origen: </b> @ruta.origen.tipo</li>

  <li class="list-group-item"><b>Destino: </b> @ruta.destino.nombre - @ruta.destino.direccion</li>
  <li class="list-group-item"><b>Tipo Estacion Destino: </b> @ruta.destino.tipo</li>

  <li class="list-group-item"><b>Tiempo Estimado: </b> @ruta.tiempo_estimado</li>
</ul>	